
@media (max-width: 1200px)  {
    .container {
        max-width: 960px;
    }

    #second_square {
        right: -245px;
        top: 35px;
    }

    .pw_text {
        font-size: 48px;

        &.top {
            left: 90px;
        }
        &.bottom {
            bottom: 210px;
            left: 240px;
        }
    }


}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__nav_el_link {
        text-align: center;
        max-width: 150px;
        margin: 0 6px 0 6px;
    }

    #first_square {
        top: 90px;
    }

    .third_block_list {
        padding-left: 100px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__nav_el_link {
        text-align: center;
        max-width: 95px;
        margin: 0 8px 0 8px;
    }

    .pw_text {
        &.top {
            left: 30px;
        }

        &.bottom {
            bottom: 160px;
            left: 170px;
        }
    }

    .third_block {
        padding-left: 50px;

        &_list {
            padding-left: 20px;
        }
    }

    .contact_area_logo {
        width: 420px;
        right: 220px;
    }

    #fourth_square {
        left: -315px;
    }
}

@media (max-width: 576px) {
    .container {
        width: auto;
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__logo_img {
        width: 52px;
        height: 52px;
    }

    .header__nav {
        display: none;

        &__btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 1;

            $border_width: 3px;
            $btn_color: red;

            width: 65px;
            height: 40px;

            border:$btn_color solid $border_width;
            border-radius: $border_width;
            // background-color: red;
            position: relative;

            &__line {
                top: 50%;
                left: 50%;

                transform: translateX(-50%);
            }

            &__line,
            &__line::after,
            &__line::before {
                position: absolute;
                display: block;
                
                width: 40px;
                height: $border_width;

                background-color: $btn_color;
            }

            &__line::after {
                content: '';
                top: -8px;
            }

            &__line::before {
                content: '';
                top: 8px;
            }
        }
    }

    .pw_text {
        font-size: 40px;

        &.top {
            bottom: 240px;
        }
    }

    #first_square {
        top: 150px;
    }

    #second_square {
        right: -430px;
        top: 80px;
    }

    .third_block {
        padding-left: 0;

        &_title {
            font-size: 28px;
        }

        &_list {
            padding-left: 48px;
        }
    }

    #fourth_square {
        top: 90px;
    }

    .contact_title {
        right: 5px;
        font-size: 35px;
    }

    .contact_area {
        padding: 20px;

        &_title {
            font-size: 18px;
        }

        &_logo {
            width: 380px;
            right: 324px;
        }
    }
}