
.footer {
    &__inner {
        width: 100%;
        max-width: 500px;

        padding-top: 10px;
        margin: auto;
        
        text-align: center;
    }

    &_title {
        margin: 20px 0 20px;
    }

    &_description {
        margin: 3px 0 3px;

        &_link {
            color: white;
        }
    }
}
